.message {
    display: flex;
    items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
  }
  
  .name {
    position: absolute;
    margin-top: 2rem;
    color: #3b2828;
    font-size: 10px;
  }
  
  .sent {
    background-color: #0f2586;
    color: #fff;
    flex-direction: row-reverse;
    text-align: left;
    float: inline-end;
    border-radius: env;
  }
  
  .received {
    background-color: #e5e5ea;
    color: #000;
    float: left;
    border-radius:env ;
  }
  